.icon {
  display: inline-block;
  vertical-align: middle;
  fill: none;
}

.icon-geo {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  fill: $cmain;

  @media (max-width: 992px) {
    width: 18px;
    text-align: center;
  }
}

a:hover .icon-geo {
  fill: $caccent;
}

.icon-call {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: $cmain;

  @media (max-width: 992px) {
    width: 18px;
    text-align: center;
  }
}

a:hover .icon-call {
  fill: $caccent;
}

.icon-car {
  height: 12px;
  width: 18px;
  margin-right: 10px;
  fill: $cmain;

  @media (max-width: 992px) {
    width: 18px;
    text-align: center;
  }
}

.icon-login {
  width: 15px;
  height: 15px;
  fill: $cmain;

  @media (max-width: 992px) {
    width: 18px;
    text-align: center;
  }
}

a:hover .icon-login {
  fill: $caccent;
}

.icon-plus {
  fill: #fff;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.goods__item-control .icon {
  height: 25px;
  width: 25px;
  stroke: #E5E5E5;

  &:hover {
    stroke: darken(#e5e5e5, 20%);
  }
}

.icon-arrow-down {
  width: 14px;
  height: 8px;
  stroke: #fff;
  transform: rotate(180deg);  

  &.grey {
    stroke: #A4A4A4;
  }
}

.icon-social {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  stroke: #D1D0D0;
}

a:hover .icon-social {
  stroke: #fff;
}

.icon-menu {
  width: 18px;
  height: 16px;
  fill: $cmain;
}

.icon-menu-close {
  height: 16px;
  width: 16px;
  fill: $cmain;
}

.icon-cart {
  width: 15px;
  height: 12.1px;
}

.icon-ad-close {
  height: 10px;
  width: 11px;
}

.icon-delete {
  height: 20px;
  width: 18px;
  fill: #D7D7D7;
}

.icon-done {
  width: 11px;
  height: 12px;
  stroke: $cmain;
}

.icon-user {
  height: 20px;
  width: 20px;
  stroke: $cmain;
}

.icon-user-arrow {
  height: 6px;
  width: 12px;
  stroke: $cmain;
}