/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.h1, h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .h1, h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

.h2, h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin: 45px 0 35px;
}

@media (max-width: 768px) {
  .h2, h2 {
    font-size: 22px;
    line-height: 30px;
    margin: 15px 0;
  }
}

.h3, h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .h3, h3 {
    font-size: 16px;
    line-height: 25px;
  }
}

a, .link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.invisible {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.invisible:hover {
  color: inherit;
}

/*.button {
 background: #3EA3F2;
 font-weight: 500;
 font-size: 18px;
 line-height: 100%;
 text-align: center;
 color: #FFFFFF;
 display: inline-block;
 text-decoration: none;
 padding: 13px 55px 15px;
 border: none;
 outline:none;
 -webkit-box-shadow: 0px 10px 40px -10px rgba(62, 163, 242,0.65);
 -moz-box-shadow: 0px 10px 40px -10px rgba(62, 163, 242,0.65);
 box-shadow: 0px 10px 40px -10px rgba(62, 163, 242,0.65);

 @media (max-width: $screen-sm) {
  //height: 60px;
  //padding-top: 0;
  //padding-bottom: 0;
  //display: table-cell;
  //vertical-align: middle;
 }

 &:hover {
  background: lighten(#3EA3F2, 15%);
  color: #FFFFFF;
 }

 &:active {
  background: darken(#3EA3F2, 15%);
  color: #FFFFFF;
 }

 &.disabled {
  background: #DDDDDD;
  cursor: not-allowed;

  &:hover {
   background: #DDDDDD;
   color: #fff;
  }

  &:active {
   background: #DDDDDD;
   color: #fff;
  }
 }
}*/
.button {
  background: #2ABA90;
  border-radius: 3px;
  display: inline-block;
  font-size: 0;
  padding: 8px 11px 7px;
  text-decoration: none;
}

.button span {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}

.button:hover {
  background: #25a580;
}

.button--bordered {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 23px 5px;
  border: 2px solid #2ABA90;
  background: transparent;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
}

.button--bordered span {
  color: #2ABA90;
}

.button--bordered.grey {
  border: 1px solid #C4C4C4;
}

.button--bordered.contrast {
  padding: 8px 25px;
}

.button--bordered.contrast span {
  color: #000;
  font-weight: 500;
}

.button--bordered.grey:hover {
  border-color: #b7b7b7;
  background: transparent;
}

.button--bordered.contrast:hover span {
  color: #333333;
}

.button--bordered:hover {
  border-color: #25a580;
  background: transparent;
}

.button--bordered:hover span {
  color: #25a580;
}

.text-field {
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 9px 15px;
  outline: none;
  width: 100%;
}

.text-field:focus {
  box-shadow: inset 0 0 0 1px #2ABA90;
  border: 1px solid #2ABA90;
}

.placeholder--grey::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 30px;
  color: #888787;
  opacity: 1;
}

.placeholder--grey:-ms-input-placeholder {
  font-size: 16px;
  line-height: 30px;
  color: #888787;
  opacity: 1;
}

.placeholder--grey::-ms-input-placeholder {
  font-size: 16px;
  line-height: 30px;
  color: #888787;
  opacity: 1;
}

.placeholder--grey::placeholder {
  font-size: 16px;
  line-height: 30px;
  color: #888787;
  opacity: 1;
}

html body .text-center {
  text-align: center;
}

html body .text-center > * {
  margin-left: auto;
  margin-right: auto;
}

.text-right {
  text-align: right;
  float: right;
}

.text-left {
  text-align: left;
  float: left;
}

.styled-table {
  overflow-x: auto;
  display: block;
  width: 100%;
}

.styled-table table {
  width: 100%;
  max-width: 100%;
}

.styled-table td {
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.styled-radio {
  display: none;
}

.styled-radio + label {
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
}

.styled-radio + label .control {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #CFCFCF;
  border-radius: 50%;
  position: relative;
  margin-top: -2px;
}

.styled-radio + label .text {
  vertical-align: middle;
  margin-left: 15px;
}

.styled-radio:checked + label .control:after {
  content: '';
  width: 9px;
  height: 9px;
  display: inline-block;
  border-radius: 50%;
  background: #969696;
  position: absolute;
  top: calc(9.5px - 4.5px);
  left: calc(9.5px - 4.5px);
}

.styled-checkbox {
  display: none;
}

.styled-checkbox + label {
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
}

.styled-checkbox + label .control {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  margin-top: -2px;
}

.styled-checkbox + label .text {
  vertical-align: middle;
  margin-left: 17px;
}

.styled-checkbox:checked + label .control:after {
  content: '';
  width: 10px;
  height: 11px;
  display: inline-block;
  background-image: url(../svg/check.svg);
  position: absolute;
  top: 2px;
  left: 2px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: none;
}

.icon-geo {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  fill: #2ABA90;
}

@media (max-width: 992px) {
  .icon-geo {
    width: 18px;
    text-align: center;
  }
}

a:hover .icon-geo {
  fill: #ED6A1D;
}

.icon-call {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #2ABA90;
}

@media (max-width: 992px) {
  .icon-call {
    width: 18px;
    text-align: center;
  }
}

a:hover .icon-call {
  fill: #ED6A1D;
}

.icon-car {
  height: 12px;
  width: 18px;
  margin-right: 10px;
  fill: #2ABA90;
}

@media (max-width: 992px) {
  .icon-car {
    width: 18px;
    text-align: center;
  }
}

.icon-login {
  width: 15px;
  height: 15px;
  fill: #2ABA90;
}

@media (max-width: 992px) {
  .icon-login {
    width: 18px;
    text-align: center;
  }
}

a:hover .icon-login {
  fill: #ED6A1D;
}

.icon-plus {
  fill: #fff;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.goods__item-control .icon {
  height: 25px;
  width: 25px;
  stroke: #E5E5E5;
}

.goods__item-control .icon:hover {
  stroke: #b2b2b2;
}

.icon-arrow-down {
  width: 14px;
  height: 8px;
  stroke: #fff;
}

.icon-arrow-down.grey {
  stroke: #A4A4A4;
}

.icon-social {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  stroke: #D1D0D0;
}

a:hover .icon-social {
  stroke: #fff;
}

.icon-menu {
  width: 18px;
  height: 16px;
  fill: #2ABA90;
}

.icon-menu-close {
  height: 16px;
  width: 16px;
  fill: #2ABA90;
}

.icon-cart {
  width: 15px;
  height: 12.1px;
}

.icon-ad-close {
  height: 10px;
  width: 11px;
}

.icon-delete {
  height: 20px;
  width: 18px;
  fill: #D7D7D7;
}

.icon-done {
  width: 11px;
  height: 12px;
  stroke: #2ABA90;
}

@media (min-width: 769px) {
  .vis-md {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .vis-md {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .vis-sm {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .vis-sm {
    display: inline-block;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 940px;
}

.main-header {
  background: #F8F8F8;
  padding: 20px 0;
}

@media (max-width: 992px) {
  .main-header {
    display: none;
  }
}

@media (min-width: 993px) {
  .main-header {
    display: block;
  }
}

.mobile-header {
  background: #F8F8F8;
  padding: 8px 0;
  position: relative;
  z-index: 11;
}

@media (max-width: 992px) {
  .mobile-header {
    display: block;
  }
}

@media (min-width: 993px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header .icon-menu-close {
  display: none;
}

body.opened:after {
  content: "";
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 5;
}

.mobile-header.opened .mobile-menu {
  display: block;
}

.mobile-header.opened .icon-menu-close {
  display: inline-block;
}

.mobile-header.opened .icon-menu {
  display: none;
}

.mobile-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.mobile-menu-icon {
  padding: 15px;
  margin: -15px;
}

.mobile-menu {
  position: absolute;
  top: 51px;
  left: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  display: none;
}

.mobile-menu__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.mobile-menu__list li, .mobile-menu__list a {
  line-height: 30px;
}

.mobile-menu__list a {
  padding: 15px 0;
  display: block;
}

.mobile-menu__list .delivery {
  padding: 15px 0 10px;
  border-bottom: 1px solid #E5E5E5;
}

.mobile-menu__list .mobile-login {
  font-size: 0;
}

.mobile-menu__list .mobile-login span {
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  color: #000;
}

.mobile-menu__list .mobile-login:hover span {
  color: #333333;
}

.main-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.logo {
  width: 103px;
  height: 35px;
  background-position: left center;
  background-size: auto;
  background-repeat: no-repeat;
  display: block;
}

.city {
  font-size: 0;
}

.city__text {
  font-size: 16px;
  vertical-align: middle;
  color: #000;
}

.city__text:hover .phone__text {
  color: #333333;
}

.phone {
  font-size: 0;
  text-decoration: none;
}

.phone:hover .phone__text {
  color: #333333;
}

.phone__text {
  font-size: 16px;
  vertical-align: middle;
  color: #000;
}

.delivery {
  font-size: 0;
}

.delivery__text {
  font-size: 16px;
  vertical-align: middle;
}

.login {
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  line-height: 30px;
  padding: 0 12px;
  color: #000;
  text-decoration: none;
}

.login:hover {
  border: 1px solid #000;
}

.main-nav .logo {
  display: none !important;
}

@media (max-width: 992px) {
  .main-nav {
    overflow-x: scroll;
  }
  .main-nav::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.main-nav.fixed {
  background: #fff;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.main-nav.fixed .logo {
  display: block;
}

.main-nav.fixed .main-nav__left-item {
  margin-right: 15px;
}

.main-nav.fixed .container {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 992px) {
  .main-nav.fixed .container {
    padding: 0 20px;
  }
}

.main-nav.fixed .main-nav__inner {
  padding: 12px 0;
}

.main-nav.fixed + section {
  margin-top: 70px;
}

.main-nav__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 18px 0;
  line-height: 0;
  font-size: 0;
  -ms-flex-positive: 2;
      flex-grow: 2;
}

@media (max-width: 992px) {
  .main-nav__inner {
    padding: 13px 0;
  }
}

.main-nav__left {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.main-nav__left-item {
  list-style: none;
  margin-right: 25px;
}

.main-nav__left-item:last-child {
  margin-right: 0;
}

.main-nav__left-link {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.main-nav__left-link:hover {
  color: #4d4d4d;
}

.accent {
  color: #ED6A1D;
}

.accent:hover {
  color: #c75410;
}

.button-cart {
  background: #2ABA90;
  border-radius: 3px;
  padding: 7px 12px 8px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
}

@media (max-width: 992px) {
  .button-cart {
    position: fixed;
    bottom: 30px;
    right: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    z-index: 10;
    width: 51px;
    height: 51px;
    padding: 0;
    text-align: center;
    font-size: 0;
  }
  .button-cart .button-cart__text {
    display: none;
  }
  .button-cart .button-cart__number {
    font-size: 14px;
    line-height: 51px;
    padding-left: 4px;
    vertical-align: middle;
  }
}

.button-cart:hover {
  background: #219070;
}

.button-cart:hover .button-cart__text {
  border-right: 1px solid #2aba90;
}

.button-cart .icon-cart {
  display: none;
}

@media (max-width: 992px) {
  .button-cart .icon-cart {
    display: inline-block;
  }
}

.button-cart__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding-right: 11px;
  border-right: 1px solid #6cdebd;
}

.button-cart__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding-left: 10px;
}

.slider {
  overflow: hidden;
}

.slick.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick .slick-list {
  overflow: visible;
}

.slick .slick-prev, .slick .slick-next {
  z-index: 2;
}

.slick .slick-slide {
  margin: 0 13px !important;
  background-repeat: no-repeat;
  opacity: 0.5;
  border-radius: 12px;
  outline: none;
}

.slick .slick-slide.slick-active {
  opacity: 1;
}

.slick .slick-next {
  right: 13px;
}

.slick .slick-next, .slick .slick-prev {
  top: calc(50% - 20px);
  -webkit-transform: none;
          transform: none;
}

.slick .slick-next:hover:before, .slick .slick-prev:hover:before {
  opacity: 1;
}

.slick .slick-prev {
  left: -7px;
}

.slick .slick-prev:before, .slick .slick-next:before {
  background-image: url(../svg/arrow-left.svg);
  height: 40px;
  width: 40px;
  font-size: 0;
  display: block;
  opacity: 0.7;
}

@media (max-width: 992px) {
  .slick .slick-prev:before, .slick .slick-next:before {
    display: none;
  }
}

.slick .slick-next:before {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.slick .slick-dots {
  bottom: 10px;
}

.slick .slick-active button:before {
  background: white !important;
}

.slick .slick-dots li button:before {
  width: 12px;
  height: 12px;
  display: block;
  background: black;
  content: '';
  border-radius: 50%;
  border: 2px solid white;
  opacity: 1;
}

.slider-img {
  max-width: 940px;
  width: 100%;
  height: 300px;
  background-size: contain;
}

@media (max-width: 992px) {
  .slider-img {
    height: 0;
    padding-top: 3.9%;
  }
}

.goods__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 45px;
  position: relative;
  width: calc(33.3% - 40px);
}

@media (max-width: 992px) {
  .goods__item {
    width: calc(33.3% - 13.3px);
  }
}

@media (max-width: 768px) {
  .goods__item {
    width: 100%;
    -ms-flex-direction: row;
        flex-direction: row;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0;
  }
  .goods__item:last-child {
    border-bottom: none;
  }
}

.goods__item:nth-child(3n + 2) {
  margin-left: 60px;
  margin-right: 60px;
}

@media (max-width: 992px) {
  .goods__item:nth-child(3n + 2) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .goods__item:nth-child(3n + 2) {
    margin-left: 0;
    margin-right: 0;
  }
}

.goods__item:hover .goods__item-img, .goods__item:hover .goods__item-description, .goods__item:hover .goods__item-name {
  opacity: 0.8;
}

.goods__item-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}

@media (max-width: 768px) {
  .goods__item-text {
    width: 65%;
    padding-left: 20px;
  }
}

@media (max-width: 768px) and (max-width: 580px) {
  .goods__item-text {
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .goods__item-img-wrap {
    width: 35%;
    position: relative;
  }
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

@media (max-width: 580px) {
  .badge {
    top: 5px;
    right: 5px;
  }
}

.badge .icon {
  height: 44px;
  width: 44px;
}

@media (max-width: 580px) {
  .badge .icon {
    height: 25px;
    width: 25px;
  }
}

.goods__item-img {
  height: 177px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .goods__item-img {
    height: 0;
    padding-top: 60%;
    min-height: 80px;
  }
}

.goods__item-description {
  -ms-flex-positive: 3;
      flex-grow: 3;
  margin-bottom: 20px;
  z-index: -1;
  position: relative;
}

@media (max-width: 580px) {
  .goods__item-description {
    margin-bottom: 10px;
  }
}

.goods__item-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0 10px;
  color: #000;
}

@media (max-width: 768px) {
  .goods__item-name {
    margin-top: 0;
  }
}

.goods__item-name:after {
  height: 100%;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.goods__item-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.goods__item-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.goods__item-controls {
  position: relative;
  z-index: 2;
  font-size: 0;
}

.goods__item-controls .quantity {
  width: 35px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.goods__item-control {
  line-height: 0;
  display: inline-block;
}

.get-app {
  margin: 20px 0 60px;
}

@media (max-width: 768px) {
  .get-app {
    margin: 15px 0 35px;
  }
}

.get-app .container {
  padding: 0;
}

@media (max-width: 992px) {
  .get-app .container {
    padding: 0 20px;
  }
}

.get-app__inner {
  background: #E74444;
  border-radius: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 40px 20px;
  position: relative;
}

@media (max-width: 992px) {
  .get-app__inner {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: start;
  }
}

.get-app__header {
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  color: #FFFFFF;
  width: 460px;
}

@media (max-width: 992px) {
  .get-app__header {
    width: 80%;
    margin-bottom: 15px;
  }
}

@media (max-width: 580px) {
  .get-app__header {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }
}

.get-app__img {
  background-image: url(../png/app.png);
  width: 107px;
  height: 140px;
  position: absolute;
  left: 51%;
}

@media (max-width: 992px) {
  .get-app__img {
    left: auto;
    right: -10px;
    top: calc(50% - 70px);
  }
}

.get-app__apps-header {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

@media (max-width: 580px) {
  .get-app__apps-header {
    font-size: 12px;
    line-height: 18px;
  }
}

.get-app__apps-wraper {
  width: 30%;
}

@media (max-width: 992px) {
  .get-app__apps-wraper {
    width: 100%;
  }
}

.get-app__apps {
  font-size: 0;
}

.get-app__app {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 107px;
  height: 32px;
  border-radius: 5px;
}

.get-app__app:first-child {
  margin-right: 20px;
}

@media (max-width: 580px) {
  .get-app__app {
    height: 20px;
    width: 65px;
  }
}

.google {
  background-image: url(../png/google.png);
}

.google:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../png/google.png);
}

.appstore {
  background-image: url(../png/appstore.png);
}

.appstore:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../png/appstore.png);
}

footer {
  background: #707070;
  padding: 35px 0 15px;
}

.footer__first {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.footer__first .logo {
  width: 120px;
  height: 50px;
}

.lang a {
  font-size: 0;
}

.lang a span {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.footer__second {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: start;
  margin-top: 20px;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .footer__second {
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 0;
  }
}

.footer__apps, .footer__links {
  width: 33.3%;
}

@media (max-width: 768px) {
  .footer__apps, .footer__links {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer__links:last-child {
    margin-bottom: 25px;
  }
}

.footer__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer__apps-list {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .footer__apps-list {
    margin-top: 15px;
  }
}

.footer__apps-list li {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .footer__apps-list li {
    margin-bottom: 0;
  }
}

.footer__apps-list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer__apps-list li {
    display: inline-block;
  }
}

.footer__apps-list li a {
  width: 144px;
  height: 40px;
}

@media (max-width: 768px) {
  .footer__apps-list li a {
    height: 34px;
    width: 126px;
  }
  .footer__apps-list li a:last-child {
    margin-right: 0;
  }
}

.footer__links-list {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.footer__links-list a, .footer__links-list li {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer__links-list a {
  display: inline-block;
}

.footer__links-list a:hover {
  color: #e6e6e6;
}

.footer__links-list li {
  margin-bottom: 10px;
}

.footer__links-list li:last-child {
  margin-bottom: 0;
}

.footer__third {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 25px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .footer__third {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    border-top: 1px solid #A6A6A6;
  }
}

.container.border-top {
  border-top: 1px solid #A6A6A6;
}

@media (max-width: 768px) {
  .container.border-top {
    border-top: none;
  }
}

.credits {
  font-size: 16px;
  line-height: 20px;
  color: #CBCBCB;
  width: 33.3%;
}

@media (max-width: 768px) {
  .credits {
    width: 100%;
  }
}

.confidential {
  width: 33.3%;
}

@media (max-width: 768px) {
  .confidential {
    width: 100%;
    margin-bottom: 15px;
  }
}

.confidential-link {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.social {
  width: 33.3%;
}

@media (max-width: 768px) {
  .social {
    width: 100%;
    margin-bottom: 20px;
  }
}

.social ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  -ms-flex-pack: start;
      justify-content: start;
}

.disclaimer {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.blocker {
  z-index: 100;
}

.modal {
  padding: 65px 80px;
  background: #FFFFFF;
  border-radius: 12px;
  min-height: 315px;
  max-width: 620px;
  width: 100%;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.modal-row label {
  margin-right: 35px;
  display: inline-block;
}

.modal-row .modal-row__phone {
  -ms-flex-positive: 2;
      flex-grow: 2;
}

.modal-row .modal-row__phone input {
  width: 100%;
}

.modal-control {
  display: -ms-flexbox;
  display: flex;
  justify-items: start;
  margin-top: 40px;
}

.modal-control .button {
  padding: 12px 24px;
}

.modal-control .button span {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
}

.modal a.close-modal {
  background-image: url(../svg/modal-close.svg);
  height: 20px;
  width: 20px;
  top: 15px;
  right: 15px;
}

.modal a.close-modal:hover {
  background-image: url(../svg/modal-close-dark.svg);
}

.modal-city {
  padding: 35px;
  min-height: auto;
}

.modal-city__header {
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 25px;
}

.modal-city__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-city__list li {
  margin-bottom: 10px;
}

.modal-city__list a {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.modal-city__list a:hover {
  color: #333333;
}

.mobile-download {
  display: none;
}

.mobile-download .container {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .mobile-download {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
  }
}

.mobile-download__close {
  display: inline-block;
  margin-right: 5px;
}

.mobile-download__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.mobile-download__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  -ms-flex-positive: 3;
      flex-grow: 3;
  text-align: center;
}

.mobile-download__logo {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mobile-download__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #ED6A1D;
  padding: 4px 10px;
  border-radius: 3px;
}

.content {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 30px;
}

.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.content ul li::before {
  content: '';
  margin-right: 13px;
  width: 7px;
  height: 7px;
  background-color: #2ABA90;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 9px;
}

.content ol {
  list-style: none;
  counter-reset: some-counter;
  margin: 0;
  padding: 0;
}

.content ol li {
  counter-increment: some-counter;
  margin-bottom: 10px;
}

.content ol li::before {
  content: counter(some-counter) ". ";
  display: inline-block;
  margin-right: 4px;
}

.content p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 25px;
}

.content h2, .content h1 {
  margin-top: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 35px;
}

.content h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
}

.modal-card {
  padding: 35px 20px 20px;
  max-width: 820px;
}

@media (max-width: 768px) {
  .modal-card {
    margin: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 0;
    padding-top: 50px;
  }
  .modal-card a.close-modal {
    right: 20px;
  }
}

.modal-card__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 768px) {
  .modal-card__inner {
    height: 100%;
    position: relative;
  }
}

.modal-card__main {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .modal-card__main {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 3;
        flex-grow: 3;
  }
}

.modal-card__img {
  width: calc(50% - 10px);
  padding-top: 37%;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  max-height: 290px;
}

@media (max-width: 768px) {
  .modal-card__img {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
     /* max-height: 215px; */
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.modal-card__text {
  width: calc(50% - 10px);
}

@media (max-width: 768px) {
  .modal-card__text {
    width: 100%;
    padding-bottom: 85px;
    position: relative;
  }
  .modal-card__text:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: -20px;
    height: 100%;
    width: calc(100% + 40px);
    z-index: -1;
  }
}

.modal-card__header {
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .modal-card__header {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.modal-card__footer {
  width: calc(50% - 10px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .modal-card__footer {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.15);
    padding: 25px 20px;
    margin-top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

.modal-card__price {
  font-weight: 500;
}

.modal-card__settings-header {
  color: #A4A4A4;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.modal-card__settings-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-card__settings-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 15px;
}

.modal-card__settings-item-price {
  color: #9F978C;
}

.cart-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 350px;
}

.cart-header__item {
  position: relative;
  text-align: center;
  font-size: 14px;
  width: 33.3%;
}

.cart-header__item i {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  font-style: normal;
  margin: 0 auto 5px auto;
  overflow: hidden;
  z-index: 3;
}

.cart-header__item i .icon {
  display: none;
}

.cart-header__item.active i {
  border: none;
}

.cart-header__item.done i span {
  display: none;
}

.cart-header__item.done i .icon {
  display: inline-block;
}

.cart-header i::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #2ABA90;
  border: 1px solid #2ABA90;
  z-index: 1;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.2s ease;
  border-radius: 50%;
}

.cart-header__item i span {
  position: relative;
  z-index: 2;
  font-size: 16px;
}

.cart-header__item::before, .cart-header__item::after {
  content: '';
  display: block;
  position: absolute;
  left: -50%;
  top: 16px;
  height: 1px;
}

.cart-header__item::before {
  background: #c4c4c4;
  width: 100%;
  z-index: 1;
}

.cart-header__item:first-child::before, .cart-header__item:first-child::after {
  display: none;
}

.cart-header__item.active::after {
  width: 100%;
}

.cart-header__item.active i::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.main-header.cart {
  padding-top: 8px;
  padding-bottom: 7px;
}

.cart__inner {
  padding-left: 8.33%;
  padding-right: 8.33%;
}

@media (max-width: 992px) {
  .cart__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.cart__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid #E5E5E5;
}



@media (max-width: 768px) {
  .cart__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart__item.promo {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    border-top: 1px solid #E5E5E5;
  }
  .cart__item:nth-last-child(2) {
    border-bottom: none;
  }
}

.cart__item-img {
  width: calc(20% - 20px);
  margin-right: 20px;
  height: 110px;
  background-size: cover;
  border-radius: 12px;
  position: relative;
}

@media (max-width: 768px) {
  .cart__item-img {
    width: calc(25% - 10px);
    margin-right: 10px;
    height: 0;
    padding-top: 17%;
  }
}

.cart__item-img .badge {
  top: 10px;
  right: 10px;
}

.cart__item-img .icon {
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .cart__item-img .icon {
    height: 15px;
    width: 15px;
  }
}

.cart__item-text {
  width: 40%;
}

@media (max-width: 768px) {
  .cart__item-text {
    width: 75%;
    margin-bottom: 15px;
  }
}

.cart__item-quantity {
  width: 15%;
  text-align: right;
}

@media (max-width: 768px) {
  .cart__item-quantity {
    margin-left: 25%;
    text-align: left;
    width: auto;
    margin-right: 20px;
  }
}

.cart__item-price {
  width: 15%;
  text-align: right;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .cart__item-price {
    text-align: left;
    width: auto;
    margin-right: 20px;
    font-size: 16px;
  }
}

.cart__item-delete {
  width: 10%;
  text-align: right;
}

@media (max-width: 768px) {
  .cart__item-delete {
    text-align: left;
    width: auto;
  }
}

.cart__item-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  color: #000;
  margin-bottom: 10px;
}

.cart__item-option {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.cart__item-wishes-header {
  font-size: 14px;
  line-height: 18px;
  color: #717171;
  margin-bottom: 5px;
}

.cart__item-wishes {
  font-size: 16px;
  line-height: 20px;
}

.cart__item-quantity span {
  width: 30px;
  display: inline-block;
  text-align: center;
}

.promocode__header {
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 5px;
}

.promocode__main {
  display: -ms-flexbox;
  display: flex;
}

.promocode__input {
  width: 100%;
  max-width: 340px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .promocode__input {
    max-width: unset;
    width: calc(100% - 150px);
    margin-right: 15px;
  }
}

.cart__items {
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .cart__inner .cart__items {
    margin-bottom: 20px !important;
  }
}

.cart__summary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

@media (max-width: 768px) {
  .cart__summary {
    -ms-flex-pack: justify;
        justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px 20px;
  }
}

.cart__summary-header {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .cart__summary-header {
    font-size: 18px;
    line-height: 20px;
  }
}

.cart__summary-sum {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .cart__summary-sum {
    font-size: 18px;
    line-height: 20px;
  }
}

.cart__controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 35px 0 25px;
}

@media (max-width: 768px) {
  .cart__controls {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    width: calc(100% + 40px);
  }
}

.cart__controls .button--bordered {
  font-size: 18px;
  line-height: 27px;
  padding-left: 15px;
  padding-right: 15px;
}

.cart__controls .button {
  line-height: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.cart__controls .button span {
  font-size: 18px;
  line-height: 27px;
}

.cart__controls a {
  text-align: center;
}

@media (max-width: 768px) {
  .cart__controls a:last-child {
    margin-bottom: 15px;
  }
}

.recommended__header {
  font-size: 22px;
  line-height: 30px;
}

.recommended {
  margin: 0 -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .recommended {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 -20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: scroll;
  }
}

.recommended__item {
  padding: 0 10px;
  width: 20%;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .recommended__item {
    min-width: 140px;
  }
}

.recommended__item-img {
  height: 125px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 20px;
}

.recommended__item-name {
  font-weight: 500;
  margin-bottom: 15px;
}

.recommended__item-price {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.recommended__item-btn a {
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.recommended__item-btn .icon-plus {
  fill: #2ABA90;
}

.order__inner {
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

@media (max-width: 940px) {
  .order__inner {
    margin-left: 0;
    margin-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .order__inner .cart__controls {
    margin-bottom: 0;
  }
}

.order__details-wrapper {
  width: 66.6%;
  padding: 0 20px;
}

@media (max-width: 940px) {
  .order__details-wrapper {
    width: 100%;
    padding: 0;
  }
}

.order__info-wrapper {
  width: 33.3%;
  padding: 15px 20px 0;
}

@media (max-width: 940px) {
  .order__info-wrapper {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
  }
}

.order__info {
  background: #F8F8F8;
  border-radius: 3px;
  padding: 20px;
}

.order__info-header {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

@media (max-width: 940px) {
  .order__info-header {
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }
}

.order__info-header span {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.order__info-header .order__info-toggle {
  display: none;
}

@media (max-width: 940px) {
  .order__info-header .order__info-toggle {
    display: inline-block;
  }
}

.order__info-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #E5E5E5;
}

.order__info-item {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.order__info-quantity {
  width: 30px;
  font-size: 14px;
  line-height: 18px;
  color: #717171;
}

.order__info-text {
  width: calc(100% - 110px);
}

.order__info-price {
  width: 80px;
  text-align: right;
  font-weight: 500;
}

.order__info-wishes-header {
  font-size: 14px;
  line-height: 18px;
  color: #717171;
  margin-top: 10px;
  margin-bottom: 2px;
}

.order__info-delivery {
  margin-top: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.order__info-delivery-price {
  font-weight: 500;
}

.order__detail-header {
  margin-top: 20px;
}

.order__detail {
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .order__detail {
    margin-bottom: 20px;
  }
}

.order__detail.no-bd {
  border: none;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.no-bd {
  border: none !important;
}

.order__detail-row {
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .order__detail-row + .order__detail-row {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .order__detail-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.order__detail-checkbox {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .order__detail-checkbox {
    margin-right: 0;
    width: 100%;
  }
}

.order__detail-checkbox:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .order__detail-checkbox:last-child {
    margin-bottom: 0;
  }
}

.text-field__wrapper {
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .text-field__wrapper {
    width: 50%;
    margin-bottom: 5px;
  }
}

.text-field__wrapper.long {
  width: 75%;
}

@media (max-width: 768px) {
  .text-field__wrapper.long {
    width: 100%;
  }
}

.text-field__wrapper.full {
  width: 100%;
}

.text-field__wrapper.half {
  width: 50%;
}

@media (max-width: 768px) {
  .text-field__wrapper.half {
    width: 100%;
  }
}

.text-field__name {
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 5px;
}

.get-app-bg {
  background-image: url(../png/get-app.png);
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .get-app-bg {
    background-image: url(../png/get-app-sm.png);
    height: 113px;
  }
}

.order__detail-text-row {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.order__detail-text-row:first-child {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .order__detail-text-row:first-child {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .order__detail-text-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order__detail-text-row:last-of-type {
    margin-bottom: 5px;
  }
}

.order__detail-text-left {
  width: 37.5%;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .order__detail-text-left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.order__detail-text-right {
  width: 62.5%;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .order__detail-text-right {
    width: 100%;
    padding-left: 0;
  }
}

.order__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 40px 20px 50px;
}

@media (max-width: 768px) {
  .order__footer {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}

.pb-10 {
  padding-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */